@model Product
@{
    ViewBag.Title = $"Редакция";
}
<div class="row">

    <div class="col-md-6 text-center w-50 m-auto">
        <h3>Редактировать данные</h3>
        <form asp-action="Update" asp-controller="Products" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for=Image type="text" value="@Model.Image" class="form-control" id="floatingInput">
                <label for="floatingInput">Картинка</label>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for=Name type="text" value="@Model.Name" class="form-control" id="floatingInput">
                <label for="floatingInput">Название</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <p>Категория</p>
                <select asp-for=CategoryId class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    @foreach (var c in ViewBag.Categories)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>
            </div>
            <div class="form-floating mb-3">
                <p>Бренд</p>
                <select asp-for=BrandId class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    @foreach (var b in ViewBag.Brands)
                    {
                        <option id="op" value="@b.Id">@b.Name</option>
                    }
                </select>
            </div>

            <div class="form-floating mb-3">
                <input asp-for=Price type="text" value="@Model.Price" class="form-control" id="floatingInput">
                <label for="floatingInput">Стоимость</label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <input asp-for="DateCreate" type="hidden" value="@Model.DateCreate">
            <input asp-for="Id" type="hidden" value="@Model.Id">
            <button class="btn btn-primary text-white" type="submit">Сохранить</button>

        </form>

    </div>

</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}